.navbar {
    background-color: #282c34;
    width: 100%;
    position: sticky;
}

.navbar-title {
    font-size: 36px;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-title:hover {
    color: #4bd2ff;
}
